@using Microsoft.FluentUI.AspNetCore.Components;

@page "/"

<PageTitle>Dashboard | Meerchat</PageTitle>

<h1>Dashboard</h1>

<FluentStack Orientation="Orientation.Horizontal" Wrap="true">
    <a href="/chat">
        <FluentCard Width="200px" Height="200px" Style="display:flex; justify-content: center; align-items:center; flex-direction:column">
            <FluentIcon Value="@(new Icons.Regular.Size48.Chat())" />
            <h2 style="text-align:center;">Chat</h2>
        </FluentCard>
    </a>

    <a href="/profile">
        <FluentCard Width="200px" Height="200px" Style="display:flex; justify-content: center; align-items:center; flex-direction:column">
            <FluentIcon Value="@(new Icons.Regular.Size48.Person())" />
            <h2 style="text-align:center;">Profile</h2>
        </FluentCard>
    </a>

    <a href="/testing-sandbox">
        <FluentCard Width="200px" Height="200px" Style="display:flex; justify-content: center; align-items:center; flex-direction:column">
            <FluentIcon Value="@(new Icons.Regular.Size32.PaintBrush())" />
            <h2 style="text-align:center;">Testing Sandbox</h2>
        </FluentCard>
    </a>

    <a href="/admin-roles">
        <FluentCard Width="200px" Height="200px" Style="display:flex; justify-content: center; align-items:center; flex-direction:column">
            <FluentIcon Value="@(new Icons.Regular.Size48.Briefcase())" />
            <h2 style="text-align:center;">Roles (Admin View)</h2>
        </FluentCard>
    </a>

    <a href="/admin-chats">
        <FluentCard Width="200px" Height="200px" Style="display:flex; justify-content: center; align-items:center; flex-direction:column">
            <FluentIcon Value="@(new Icons.Regular.Size48.Chat())" />
            <h2 style="text-align:center;">Chats (Admin View)</h2>
        </FluentCard>
    </a>

    <a href="/admin-users">
        <FluentCard Width="200px" Height="200px" Style="display:flex; justify-content: center; align-items:center; flex-direction:column">
            <FluentIcon Value="@(new Icons.Regular.Size48.PeopleCommunity())" />
            <h2 style="text-align:center;">Users (Admin View)</h2>
        </FluentCard>
    </a>
</FluentStack>

